img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: -1; /* Defina um valor menor para a imagem ficar atrás da .eletro */
}

.eletro {
    position: relative;
    z-index: 2;
}
