<div class="col-md-4 offset-md-4">
    <form [formGroup]="pacientForm">
        <div class="col-md-12">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
    
        <div class="row">
          <div class="col-md-6">
            <label for="gender" class="form-label">Sexo</label>
            <select class="form-select" id="gender" formControlName="gender" >
              <option *ngFor="let option of genderOptions" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="age" class="form-label">Idade</label>
            <input type="number" class="form-control" id="age" formControlName="age">
          </div>
        </div>
       
        <div *ngIf="exams && exams.length > 0">
          <h2>Exames:</h2>
          <ul>
            <li *ngFor="let exam of exams">{{ exam.name }}</li>
          </ul>
        </div>

        <div class="btn">
          <button (click)="getExams()" type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>