<div class="col-md-4 offset-md-4">
    <form class="row g-3">
        <div class="col-12">
          <label for="inputAddress" class="form-label">Nome</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
    
        <div class="col-md-3">
          <label for="inputState" class="form-label">Sexo</label>
          <select id="inputState" class="form-select">
            <option>...</option>
            <option>F</option>
            <option>M</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputZip" class="form-label">Idade</label>
          <input type="number" class="form-control" id="inputZip">
        </div>
       
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>