// .a {
//     background-color: rgb(227, 227, 244);    
// }
.col-md-5 {
    padding-top: 2rem;
    padding-left: 6rem;
    margin-left: 15rem;

    h2 {
        margin-bottom: 2rem;
    }

    .pacient-exam {
        display: flex;
    }

    .exams-list-show {
        margin-top: -4rem;
        margin-left: 4.3rem;

        .exams {
            width: max-content;
        }

        .exams-title {
            margin-bottom: 2rem;
            color: #4118bc;
            font-style: italic;
        }

        .exams-list {
            padding: 0;

            li {
                line-height: 0.7;
                list-style: none;
                margin-top: 0.5rem;
                text-decoration: underline;
            }

            &:hover {
                cursor: pointer;
                color: rgb(0, 110, 255);
            }
        }
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .btn {
            width: 11rem;
        }
    }
}