<div class="hemograma">
    <div class="card">
        <div *ngIf="exams && exams.length > 0">
            <div class="exams">
                <div *ngFor="let exam of exams" class="exams-list">
                    <div *ngIf="exam">
                        <h2>{{ exam.name }}</h2>

                        <div class="img-card">
                            <img src="../../../../assets/img/hemograma.jpg" alt="Descrição da Imagem">
                        </div>

                        <p>{{ exam.description }}</p>

                        <h5>Locais de realização: </h5>

                        <button class="btn btn-primary" (click)="openUrl(exam.urlLocations)">Clique aqui</button>
                        
                        <div class="buttons">
                            <button class="btn btn-light" [routerLink]="['/exames']">Voltar</button>
                            <button class="btn btn-light"  [routerLink]="['']">Sair</button>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>