<div class="form">
    <div class="col-md-4 offset-md-4">
        <form>
            <h2 class="mb-4">Faça login em sua conta</h2>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="E-mail">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>

            <button type="submit" class="btn btn-primary w-100" (click)="irParaExame()">Entrar</button>
    
        </form>
    </div>
</div>