.navbar-custom {
  background-image: url('/assets/img/navbar.jpg');
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 10px 6px;

  ul {
    margin-right: 2rem;

    li {
      font-size: x-large;
      font-weight: bold;
      font: bold;

      a {
        color: rgb(174, 193, 211);

        &:hover {
          transform: scale(1.03);
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}