<div class="glicemia">
    <div class="card">
        <div *ngIf="exams && exams.length > 0">
            <div class="exams">
                <div *ngFor="let exam of exams" class="exams-list">
                    <div *ngIf="exam">
                        <h2>{{ exam.name }}</h2>

                        <div class="img-card">
                            <img src="../../../../assets/img/glicemia.jpg" alt="Descrição da Imagem">
                        </div>

                        <p>{{ exam.description }}</p>

                        <h5>Locais de realização: </h5>

                        <button class="btn btn-primary" (click)="openUrl(exam.urlLocations)">Clique aqui</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>